<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="pull-left">Manage Stores</h2>
    <a class="btn btn-primary pull-right" routerLink="new">Add A Store</a>
    <input type="text" class="form-control" #searchBox (keyup)="search(searchBox.value)"
      placeholder="Enter a search value">
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <app-single-store *ngFor="let store of stores | storesFilter: term" [store]="store">
      </app-single-store>
    </ul>
  </div>
</div>
</div>
