<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{ contact.name }}</h2>
    <div class="contact-details">
      <div>
        <img [src]="contact.imageUrl" alt="" class="img-responsive">
      </div>
      <div>
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p>Email: {{ contact.email }}</p>
    <p>Phone Number: {{ contact.phone }}</p>
  </div>
</div>
