li {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.store-name {
  font-weight: bold;
  font-size: 22px;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;

}

.store-actions {
  display: flex;
}

.icon-container {
  width: 50px;
  padding: 10px;
}

.icon-container img {
  width: 100%;
}